{% extends 'base.html' %}

{% block header %}
  <h1 class="caps-header">{% block title %}Register Player{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_labeled_field %}
  <form method="post">
    <dl>
      {{ render_labeled_field(form.username) }}
      {{ render_labeled_field(form.password) }}
      {{ render_labeled_field(form.confirm) }}
      {{ render_labeled_field(form.portfolio) }}
      {{ render_labeled_field(form.starting_money) }}
    </dl>  
    <input class="button-primary" type="submit" value="Register">
  </form>
{% endblock %}
