{% extends 'base.html' %}
{% block title %}Scoreboard{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
{% if initialized %}
  <script src="{{ url_for('static', filename='scoreboard-fetch-charts.js') }}"></script>
  <script id="chart-fetching-script">
    fetchCharts("{{ chart_r_h.split('/')[0] }}", "{{ chart_r_h.split('/')[1] }}")
  </script>
  <div id="hourly-chart-div">
    <h1 class="caps-header">Hourly charts</h1>
    <form method="GET" id="select-hourly-chart-form">
      <select name="hour-r-h" onchange="this.form.submit()">
        {% for hour in hours %}
          {% if hour == chart_r_h %}
          <option value="{{ hour }}" selected>{{ hour }}</option>
          {% else %}
          <option value="{{ hour }}">{{ hour }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="hidden" name="summary-view" value="{{ current_summary_view }}">
      {# <input type="hidden" name="scroll-to" value="hourly-chart-div"> #}
    </form>
    {{ resources | safe }}
    <div id="hourly-chart" style="margin-bottom: 2rem"></div>
  </div>
  <div class="top-bordered">
    <h1 class="caps-header" style="margin-top: 2rem;">Standings</h1>
    <div id="summary-chart" style="margin-bottom: 2rem"></div>
  </div>
  <div id="summary-table-div" class="top-bordered">
    <h1 class="caps-header" style="margin-top: 2rem;">Game summary</h1>
    <p><a href="{{ url_for('scoreboard.engine_file', filename='summary.csv') }}">summary.csv</a></p>
    <style>
      select, form {margin-bottom: 0;}
    </style>
    <form method="GET" id="select-summary-sort-form">
      <input type="hidden" name="hour-r-h" value="{{ chart_r_h }}">
      <select name="summary-view" onchange="this.form.submit()">
        <option value="Balance" {% if current_summary_view == 'Balance' %}selected{% endif %}>Balance</option>
        <option value="Revenue" {% if current_summary_view == 'Revenue' %}selected{% endif %}>Revenue</option>
        <option value="Losses" {% if current_summary_view == 'Losses' %}selected{% endif %}>Losses</option>
        <option value="Profit" {% if current_summary_view == 'Profit' %}selected{% endif %}>Profit</option>
      </select>
      {# <input type="hidden" name="scroll-to" value="summary-table-div"> #}
    </form>
    <div class="row">
      <div class="u-full-width">
        <div class="scrolling-wrapper-flexbox">
          <table>
            <thead>
              <tr>
                <!-- Styling for the header elements is generated in scoreboard.py's id_to_header(id) function. -->
                <th class="sticky-col first-col-60">{{ summary_table_headers[0] | safe }}</th>
                {% for header in summary_table_headers[1:] %}
                  <th>{{ header | safe }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in summary_table %}
                <tr>
                  <td class="sticky-col first-col-60">{{ row[0] | safe }}</td>
                  {% for item in row[1:] %}
                    {% if isnan(item) %}
                      <td></td>
                    {% else %}
                      <td>{{ '{:.2f}'.format(item) }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
  {% if scroll_to_id %}
  <script>
      document.getElementById('{{ scroll_to_id }}').scrollIntoView();
  </script>
  {% endif %}
{% else %}
<h1 class="caps-header">Scoreboard</h1>
The game has not yet been initialized. An administrator can initialize the game via their config panel.
{% endif %}  
{% endblock %}
